{% extends 'app_gen/components/base.html' %}
{% load static %}
{% block site_title %}{{ food.title }} | {% endblock site_title %}

{% block content %}
<section class="content-section content-section-sigle">
    <div class="content-container">
        {% if food is not None %}
        <div class="grid">
            <img class="image-block" src="{% static food.image_relative_url %}">
            <div>
                <h3>{{ food.title }}</h3>
                {% if food.special_price is not None %}
                <p>
                    <span>{{ food.special_price|floatformat:'g' }} บาท</span>
                    <del class="text-gray">{{ food.price|floatformat:'g' }} บาท</del>
                </p>
                {% else %}
                <p>{{ food.price|floatformat:'g'}} บาท</p>
                {% endif %}
                {% if food.is_premium %}
                <p>*** เมนูพิเศษสุด Premium</p>
                {% endif %}
                <p>โปรโมชั่นถึงวันที่ {{ food.promotion_end_at | date:'j N Y' }}</p>
                <p>ฟัดจ์บราวนี่มาลีฮวนน่าแป้งน้อยหวานน้อย ได้อารมณ์บราวนี่แท้ เนื้อบางแน่นด้วยช็อคโกแล็ตเหนียวหนึบหนับ
                    ฉ่ำ
                    ส่วนประกอบ เนยสดแท้ ดาร์กช็อกโกแลตแท้ ขนาด 80 กรัม</p>
                <p>
                    <a class="button button-primary" href="{% url 'subscription' %}">ลงทะเบียนรับโปรโมชั่น</a>
                </p>
            </div>
        </div>
        {% else %}
        <p>ไม่พบเมนูนี้</p>
        {% endif %}
    </div>
</section>
{% endblock content %}