{% extends 'app_gen/components/base.html' %}

{% block site_title %}เกี่ยวกับ | {% endblock site_title %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">เกี่ยวกับเชิญชวนยิ้ม</h2>
        <h4>ก่อตั้งปี 2022</h4>
        <p>เป็นเว็บไซต์จำลองสำหรับการเรียนในวิชาการเขียนโปรแกรมบนเว็บ รหัสวิชา 31322 ของนายชาญวิทย์  บัวสาคร รหัสนักศึกษา 6401103077042 นักศึกษาสาขาวิชา วิทยาการข้อมูลและเทคโนโลยีสารสนเทศ คณะวิทยาศาสตร์และเทคโนโลยี มหาวิทยาลัยธนบุรี</p>
        <h4>วัตถุประสงค์</h4>
        <p>เป็นส่วนหนึ่งของชิ้นงานในการเก็บคะแนนในรายวิชาการเขียนโปรแกรมบนเว็บ</p>
        <h4>สุดยอดเชิญชวนยิ้ม</h4>
        <p>AN INFORMATION TECHNOLOGY PROJECT SUBMITTED IN PARTIAL FULFILLMENT OF THE REQUIREMENT FOR THE DEGREE OF BACHELOR OF SCIENCE DEPARTMENT OF DATA SCIENCE AND INFORMATION TECHNOLOGY FACULTY OF SCIENCE AND TECHNOLOGY THONBURI UNIVERSITY 2021</p>
    </div class="content-container">
</section class="content-section">
{% endblock content %}