{% extends 'app_gen/components/base.html' %}
{% load static %}

{% block content %}
<section class="home-landing-section">
    <h1 class="home-landing-text">เชิญชวนยิ้ม</h1>
    <h5 class="home-landing-text">ความรักก็เหมือนกัญชา 🌿 บางเวลาก็ทำให้เรายิ้มอยู่คนเดียว</h5>
    <h6 class="home-landing-text">จัดส่งทุกวัน อร่อยทุกเมนู มาเลือกชมเลือกดูกันได้เลยจร้า</h6>
    <p>
        <a class="button" href="{% url 'foods' %}">ดูเมนูทั้งหมด</a>
        <a class="button button-primary" href="{% url 'subscription' %}">ลงทะเบียนรับโปรโมชั่น</a>
    </p>
</section>
<section class="content-section">
    <div class="content-container">
        <h4 class="content-title text-center" >อธิบายอะไรสักหน่อย</h4>
        <div class="grid grid-3">
            <div>
                <img class="image-block" src="{% static 'app_gen/home-1.jpg' %}">
                <p>เชิญชวนยิ้ม คือ คาเฟ่สำหรับท่านที่ชื่นชอบของหวานและสายเขียว</p>
            </div>
            <div>
                <img class="image-block" src="{% static 'app_gen/home-2.jpg' %}">
                <p>มีเมนูแนะนำมากมายให้ท่านได้เลือก</p>
            </div>
            <div>
                <img class="image-block" src="{% static 'app_gen/home-3.jpg' %}">
                <p>เมนูทุกชิ้นสร้างสรรค์ขึ้นมาอย่างพิถีพิถันไม่หวั่นแม้วันมามาก</p>
            </div> 
        </div>
        <p class="text-center">
            <a class="button" href="{% url 'about' %}">เกี่ยวกับเชิญชวนยิ้ม</a>
        </p>
    </div>
</section>    
{% endblock content %}