{% extends 'app_gen/components/base.html' %}

{% block site_title %}เกี่ยวกับ | {% endblock site_title %}

{% block content %}
<section class="content-section content-section-sigle">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">ลงทะเบียนรับโปรโมชั่น</h2>
        <p>กรุณาใส่ข้อมูลจริง เพื่อความสะดวกราบรื่นในการรับโปรโมชั่น</p>
        <form class"subscription-form" action="{% url 'subscription'%}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-field">
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="form-field">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-field">
                {{ form.food_set.label_tag }}
                {{ form.food_set }}
                {{ form.food_set.errors }}
            </div>
            <div class="form-field">
                <label>อ่านข้อตกลงและเงื่อนไข</label>
                <label>
                    {{ form.accepted }} {{ form.accepted.label }}
                </label>
            </div>
            <div class="form-field">
                <button class="button button-primary" type="submit">ลงทะเบียนรับโปรโมชั่น</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}